body{
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200;
  width: 100%;
  margin: 0 auto;
}

.row-after {
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  float: left;
  padding: 12px; /*Este numero indica el gutter o espacio entre columnas*/
  background: blue;
  margin: .4%;
  color: white;
}

*{
  box-sizing: border-box;
}

.col-1 {
  height: 150px;
  width: 100%;
  background-color: rgb(247, 234, 0);
}

.col-2 {
  width: 60%;
  height: 150px;
  background-color: rgb(52, 234, 169);
}

.container-3 {
  width: 60.5%;
  height: 300px;
  display: block;
  padding-right: 0;
  margin: 0;
}

.column-3 {
  height: 150px;
  width: 32.53%;
  background-color: rgb(228, 134, 234);
  min-height: 7px;
  float: left;
  padding: 12px; /*Este numero indica el gutter o espacio entre columnas*/
  background: blue;
  margin: .4%;
  color: white;


}

.col-4 {
  height: 310px;
  width: 38.4%;
  background-color: rgb(228, 134, 234);
  float: right;
}

.blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
  margin-right: 0;
  padding-right: 0;
}

.col-5 {
  background: white;
}

@media all and (max-width: 768px){
  [class*=col-]{
    width: 100%;
  }
}
